<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mn.ives.alex.play.pause</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3B83B71A-E9DF-4E79-9CBB-6F83BFD83B88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>290B846B-19A6-4D78-A2FD-1B1285B211D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FB0B6A8A-9B19-4456-84BD-7160500DAE9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>290B846B-19A6-4D78-A2FD-1B1285B211D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Ives</string>
	<key>description</key>
	<string>Finds a web music service and plays/pauses the music.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PlayPause</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./playPause.sh {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>290B846B-19A6-4D78-A2FD-1B1285B211D4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for active stations...</string>
				<key>script</key>
				<string>./filter.sh {query}</string>
				<key>title</key>
				<string>Play Pause Music</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FB0B6A8A-9B19-4456-84BD-7160500DAE9D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>po</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>./poFilter.sh {query}</string>
				<key>title</key>
				<string>Music Player Open</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3B83B71A-E9DF-4E79-9CBB-6F83BFD83B88</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>290B846B-19A6-4D78-A2FD-1B1285B211D4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3B83B71A-E9DF-4E79-9CBB-6F83BFD83B88</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>FB0B6A8A-9B19-4456-84BD-7160500DAE9D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>alex.ives.mn</string>
</dict>
</plist>
